h1{
    color: rgb(255, 136, 0);
    padding: 0.5em;
    text-align: center;
    background: grey;
}

#cabecera {
    color:black;
    background: rgb(255,136,0);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    box-shadow: 14px 28px 58px -8px rgba(0,0,0,0.75);
    text-align: right;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: center;
    background: orange;
    padding: 0.3em;
}