h1{
    color: blue;
}

#cabecera {
    color: cornsilk;
    background: darkblue;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    box-shadow: 14px 28px 58px -8px rgba(0,0,0,0.75);
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

p {
    border-radius: 47px 47px 47px 47px;
    -moz-border-radius: 47px 47px 47px 47px;
    -webkit-border-radius: 47px 47px 47px 47px;
    border: 2px double #2b8016;
    padding: 0.4em;
    text-align: center;
}
